---
layout: default
---
<a href="#demo">Jump to the demos</a>

{{ content }}

<h2 id="demo">DEMO</h2>

<div class="language-js highlighter-rouge"><pre class="highlight"><code>
$('.scramble-default').scramble({framePerReveal: 4});
</code></pre></div>
<p class="scramble-default" style="font-family: Courier;">This will be unscrambled using the default seed.</p>
<p class="scramble-default">Beware non-monospaced fonts, because this is what it looks like on "Open Sans".</p>

<div class="language-js highlighter-rouge"><pre class="highlight"><code>
$('.scramble-une-pipe').scramble({framePerReveal: 4, seed: '____|'});

</code></pre></div>
<p class="scramble-une-pipe" style="font-family: Courier;">Unscrambling this will be done with only a bunch of underscores and a pipe.</p>

<div class="language-js highlighter-rouge"><pre class="highlight"><code>
$('.scramble-kana').scramble({
	framePerReveal: 4,
	seed: 'あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわを'});
});
</code></pre></div>
<p class="scramble-kana">And lastly special consideration needs to be given to using non-latin characters when unscrambling, such as hiragana ones.</p>

